<div class="wrapper">
    <header *ngIf="authenticated"  class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                            <b style="font-size:25px">Domowy</b>
                    <span style="font-size:35px">Budżet</span>
                    </a>
                </div>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li>
                            <a href="javascript:void(0)" (click)="logout()">
                                 <span> Wyloguj</span>
                                <i class="fa fa-power-off"style="padding-left: 5px;"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
 </header>

    <div class="content-wrapper">
            <div class="container">
                <section class="content">
                    <router-outlet></router-outlet>
                </section>
            </div>
    </div>
</div>