<div class="col-md-6">
	<div class="info-box">
		<span class="info-box-icon bg-aqua">
				 <i class="fa fa-fw fa-home" style="padding-top: 20px"></i>
	</span>

		<div class="info-box-content">
			<span class="info-box-text">Zobowiązania <br> stałe</span>
			<span class="info-box-number">{{amount_fixed}}</span>
		</div>
	</div>
</div>
<div class="col-md-6">
	<div class="info-box">
		<span class="info-box-icon bg-yellow">
		 <i class="fa fa-fw fa-shopping-cart" style="padding-top: 20px"></i>
	</span>

		<div class="info-box-content">
			<span class="info-box-text">Wydatki <br>jednorazowe</span>
			<span class="info-box-number">{{amount_single}}</span>
		</div>
	</div>
</div>