<div class="row">
	<div class="col-md-6">
		<my-balance (onNextMonth)="nextMonth()" month="{{month}}" year="{{year}}"></my-balance>
	</div>
	<div class="col-md-6">
		<div class="col-md-12">
			<div class="col-md-6">
				<my-expenses-summary month="{{month}}" year="{{year}}"></my-expenses-summary>
			</div>
			<div class="col-md-6">
				<my-income-summary month="{{month}}" year="{{year}}"></my-income-summary>
			</div>
		</div>
		<div class="col-md-12">
			<my-expenses-summary-isfixed month="{{month}}" year="{{year}}"></my-expenses-summary-isfixed>
		</div>
		<div class="col-md-12">
			<my-expenses (onSetMonthlyExpense)="refreshViews()" month="{{month}}" year="{{year}}"></my-expenses>
			
		</div>
		<div class="col-md-12">
			<my-monthly-expenses (onRemove)="refreshAllViews()" month="{{month}}" year="{{year}}"></my-monthly-expenses>
		</div>
	</div>


</div>
<div class="row">
	<div class="col-md-6 col-sm-12 col-xs-24">
		
	</div>
</div>

